.title{
    color: blueviolet
    ;
}

.card-title{
    text-align: center;
    padding-bottom: 10px;
    color: blueviolet;
}

.h55{
    color: gray;
}

.space{
    width: 100%;
    height: 90px;
}

.navbar{
    background-color: rgb(199, 121, 252)!important;
    border: 0.5cm;
    box-shadow: 5px 10px 30px 5px rgba(199, 78, 247, 0.61);
}

.form-control{
    border:0!important;
    background-color: rgba(255, 255, 255, 0.253);
    color:white
}

.btn-outline-success {
    --bs-btn-color: rgb(255, 255, 255);
    --bs-btn-border-color: rgb(186, 82, 255);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgb(179, 64, 255);
    --bs-btn-hover-border-color: rgb(199, 121, 252);
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #198754;
    --bs-btn-active-border-color: rgb(199, 121, 252);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: rgb(199, 121, 252);
    --bs-btn-disabled-bg: #a78484;
    --bs-btn-disabled-border-color: rgb(199, 121, 252);
    --bs-gradient: none;
}

.card{
    border: 0.5cm;
    box-shadow: 5px 10px 30px 5px rgba(249, 248, 250, 0.274);
}